<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<blockquote cite="https://www.huxley.net/bnw/four.html">
    <p>Words can be like X-rays, if you use them properly—they’ll go through anything. You read and you’re pierced.</p>
    <footer>—Aldous Huxley, <cite>Brave New World</cite></footer>
</blockquote>

<blockquote >
    <p th:text="${thejoke}">123</p>
    <footer>—SpringFrameworkGuru , <cite>chuck-norris-for-actuator-3.0.0-M4.jar</cite></footer>
</blockquote>

</body>
</html>